In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
# importing all necessary libraries
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import string
import os
import networkx as nx
import stellargraph as sg
from stellargraph import StellarGraph
from sklearn import preprocessing, model_selection
from IPython.display import display, HTML
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
#from node2vec import Node2Vec as n2v
#sns.set()

%matplotlib inline

In [3]:

import re
pd.set_option('max_colwidth', 800)


#importing Libraies
import networkx as nx
import matplotlib.pyplot as plt
from numpy import genfromtxt
import collections
from collections import OrderedDict

import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.linear_model import LinearRegression,LogisticRegression, RidgeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report,accuracy_score

In [4]:
#loading dataset
df = pd.read_csv('newdataset.csv')
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,...,80,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,...,80,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,...,80,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,...,80,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,...,80,1,6,3,3,2,2,2,2,No

In [5]:
df.shape

(1470, 35)

In [6]:
df['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [7]:
df.isnull().sum()

Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
Attrition                   0
dtype: int64

In [8]:
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,...,80,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,...,80,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,...,80,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,...,80,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,...,80,1,6,3,3,2,2,2,2,No

In [9]:
df = df.drop(['Over18', 'EmployeeCount',	'EmployeeNumber', 'StandardHours'], axis = 1)
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,1,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,4,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,2,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,3,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,4,1,6,3,3,2,2,2,2,No

In [10]:
feat_cat=[feature for feature in df.columns if df[feature].dtype =='O']
feat_cat

['BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'OverTime',
 'Attrition']

In [11]:
ordinal_label=df['Attrition'].value_counts().to_dict()
g={k:i for i,k in enumerate(ordinal_label, 0)}
g

{'No': 0, 'Yes': 1}

In [12]:
df['Attrition']=df['Attrition'].map(g)
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,1,0,8,0,1,6,4,0,5,1
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,4,1,10,3,3,10,7,1,7,0
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,2,0,7,3,3,0,0,0,0,1
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,3,0,8,3,3,8,7,3,0,0
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,4,1,6,3,3,2,2,2,2,0

In [13]:
df.loc[df['MonthlyIncome']>16000, 'MonthlyIncome'] = 16000
df.loc[df['TotalWorkingYears']>28, 'TotalWorkingYears'] = 28
df.loc[df['YearsAtCompany']>18, 'YearsAtCompany'] = 18
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,1,0,8,0,1,6,4,0,5,1
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,4,1,10,3,3,10,7,1,7,0
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,2,0,7,3,3,0,0,0,0,1
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,3,0,8,3,3,8,7,3,0,0
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,4,1,6,3,3,2,2,2,2,0

In [14]:
categorical = df.select_dtypes(include = 'object')
print(categorical.columns)

Index(['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole',
       'MaritalStatus', 'OverTime'],
      dtype='object')

In [15]:
df_cat = pd.get_dummies(categorical)
df_cat.head()

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,1,0,1
1,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
4,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0

In [16]:
df = df.drop([
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 
 'OverTime'], axis = 1)
df.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,1102,1,2,2,94,3,2,4,5993,...,1,0,8,0,1,6,4,0,5,1
1,49,279,8,1,3,61,2,2,2,5130,...,4,1,10,3,3,10,7,1,7,0
2,37,1373,2,2,4,92,2,1,3,2090,...,2,0,7,3,3,0,0,0,0,1
3,33,1392,3,4,4,56,3,1,3,2909,...,3,0,8,3,3,8,7,3,0,0
4,27,591,2,1,1,40,3,1,2,3468,...,4,1,6,3,3,2,2,2,2,0

In [17]:
df1 = pd.concat([df,df_cat], axis=1)
df1.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,41,1102,1,2,2,94,3,2,4,5993,...,0,0,0,1,0,0,0,1,0,1
1,49,279,8,1,3,61,2,2,2,5130,...,0,0,1,0,0,0,1,0,1,0
2,37,1373,2,2,4,92,2,1,3,2090,...,0,0,0,0,0,0,0,1,0,1
3,33,1392,3,4,4,56,3,1,3,2909,...,0,0,1,0,0,0,1,0,0,1
4,27,591,2,1,1,40,3,1,2,3468,...,0,0,0,0,0,0,1,0,1,0

In [18]:
df1.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition',
       'BusinessTravel_Non-Travel', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Human Resources',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Human Resources', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Female', 'Gender_Male', 'JobRole_Healthcare Representative',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'OverTime_No', 'OverTime_Yes'],
      dtype='object')

In [19]:
column_to_move = df1.pop("Attrition")
df1.insert(51, "Attrition", column_to_move)
df1.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes,Attrition
0,41,1102,1,2,2,94,3,2,4,5993,...,0,0,1,0,0,0,1,0,1,1
1,49,279,8,1,3,61,2,2,2,5130,...,0,1,0,0,0,1,0,1,0,0
2,37,1373,2,2,4,92,2,1,3,2090,...,0,0,0,0,0,0,1,0,1,1
3,33,1392,3,4,4,56,3,1,3,2909,...,0,1,0,0,0,1,0,0,1,0
4,27,591,2,1,1,40,3,1,2,3468,...,0,0,0,0,0,1,0,1,0,0

In [20]:
scale_data=[feature for feature in df1.columns if feature not in ['Attrition']]
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler=MinMaxScaler()
df1[scale_data]=scaler.fit_transform(df1[scale_data])
df1.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes,Attrition
0,0.547619,0.715820,0.000000,0.25,0.333333,0.914286,0.666667,0.25,1.000000,0.332466,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1
1,0.738095,0.126700,0.250000,0.00,0.666667,0.442857,0.333333,0.25,0.333333,0.274898,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0
2,0.452381,0.909807,0.035714,0.25,1.000000,0.885714,0.333333,0.00,0.666667,0.072110,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1
3,0.357143,0.923407,0.071429,0.75,1.000000,0.371429,0.666667,0.00,0.666667,0.126743,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0
4,0.214286,0.350036,0.035714,0.00,0.000000,0.142857,0.666667,0.00,0.333333,0.164032,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0

In [21]:
u3 = df1.drop(['Attrition'], axis = 1)
u3.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0.547619,0.715820,0.000000,0.25,0.333333,0.914286,0.666667,0.25,1.000000,0.332466,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.738095,0.126700,0.250000,0.00,0.666667,0.442857,0.333333,0.25,0.333333,0.274898,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.452381,0.909807,0.035714,0.25,1.000000,0.885714,0.333333,0.00,0.666667,0.072110,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.357143,0.923407,0.071429,0.75,1.000000,0.371429,0.666667,0.00,0.666667,0.126743,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.214286,0.350036,0.035714,0.00,0.000000,0.142857,0.666667,0.00,0.333333,0.164032,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [22]:
from scipy.spatial.distance import cdist
s = cdist(u3, u3, 'cosine')
s

array([[0.00000000e+00, 6.84495882e-01, 4.39703560e-01, ...,
        5.16494051e-01, 5.46991101e-01, 6.15783852e-01],
       [6.84495882e-01, 0.00000000e+00, 5.83597196e-01, ...,
        3.44434102e-01, 3.28609219e-01, 4.21427390e-01],
       [4.39703560e-01, 5.83597196e-01, 0.00000000e+00, ...,
        4.24806022e-01, 5.87452995e-01, 3.46929529e-01],
       ...,
       [5.16494051e-01, 3.44434102e-01, 4.24806022e-01, ...,
        0.00000000e+00, 5.89115905e-01, 3.59048574e-01],
       [5.46991101e-01, 3.28609219e-01, 5.87452995e-01, ...,
        5.89115905e-01, 1.11022302e-16, 3.85847035e-01],
       [6.15783852e-01, 4.21427390e-01, 3.46929529e-01, ...,
        3.59048574e-01, 3.85847035e-01, 0.00000000e+00]])

In [23]:
X1=pd.DataFrame(s)
X1

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
0,0.000000,0.684496,0.439704,0.449013,0.671591,0.512400,0.493079,0.589503,0.616878,0.554666,...,0.541895,0.449155,0.392436,0.705805,0.439191,0.692335,0.670706,0.516494,5.469911e-01,0.615784
1,0.684496,0.000000,0.583597,0.297856,0.399238,0.292533,0.509918,0.328942,0.224592,0.381056,...,0.510576,0.605105,0.570045,0.464621,0.588023,0.282390,0.356027,0.344434,3.286092e-01,0.421427
2,0.439704,0.583597,0.000000,0.493201,0.406941,0.322745,0.377048,0.351532,0.502522,0.418091,...,0.488966,0.484880,0.698893,0.499095,0.443893,0.427837,0.477079,0.424806,5.874530e-01,0.346930
3,0.449013,0.297856,0.493201,0.000000,0.556983,0.363592,0.403275,0.516635,0.462641,0.469468,...,0.459369,0.602976,0.564915,0.650470,0.520181,0.393884,0.524837,0.422375,4.498650e-01,0.498464
4,0.671591,0.399238,0.406941,0.556983,0.000000,0.415106,0.370258,0.368416,0.577040,0.227420,...,0.496844,0.597267,0.576431,0.438732,0.568698,0.187060,0.240673,0.449531,3.945853e-01,0.133708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.692335,0.282390,0.427837,0.393884,0.187060,0.237960,0.386522,0.323501,0.345039,0.215174,...,0.470547,0.566455,0.509726,0.385689,0.565642,0.000000,0.291784,0.470797,2.545489e-01,0.161541
1466,0.670706,0.356027,0.477079,0.524837,0.240673,0.476549,0.402096,0.405484,0.447454,0.121145,...,0.400886,0.476468,0.465766,0.378694,0.560104,0.291784,0.000000,0.450273,3.442454e-01,0.212173
1467,0.516494,0.344434,0.424806,0.422375,0.449531,0.487108,0.338852,0.348411,0.339222,0.403762,...,0.621220,0.527416,0.618881,0.439504,0.696416,0.470797,0.450273,0.000000,5.891159e-01,0.359049
1468,0.546991,0.328609,0.587453,0.449865,0.394585,0.381122,0.552266,0.555685,0.438268,0.330378,...,0.532367,0.423636,0.397261,0.445953,0.477645,0.254549,0.344245,0.589116,1.110223e-16,0.385847
1469,0.615784,0.421427,0.346930,0.498464,0.133708,0.345316,0.316413,0.302609,0.474513,0.179346,...,0.413280,0.555508,0.473593,0.347719,0.570065,0.161541,0.212173,0.359049,3.858470e-01,0.000000

In [24]:
# taking average of the hamming distance matrix
y = np.average(X1)
y

0.45085617560131575

In [25]:
adjmat_df=X1.copy()

In [26]:
# setting threshold value as mean of hamming matrix
adjmat_df[adjmat_df < y]=0
adjmat_df[adjmat_df >= y]=1

In [27]:
# adjacency matrix
adjmat_df

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1466,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1467,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1468,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1469,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [28]:
G = nx.from_numpy_matrix(np.array(adjmat_df))
G

In [29]:
A=nx.to_numpy_matrix(G)
A

matrix([[0., 1., 0., ..., 1., 1., 1.],
        [1., 0., 1., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 1., 0.],
        ...,
        [1., 0., 0., ..., 0., 1., 0.],
        [1., 0., 1., ..., 1., 0., 0.],
        [1., 0., 0., ..., 0., 0., 0.]])

In [30]:
H=nx.from_numpy_matrix(A)
H

In [31]:
square_feature_dataframe = StellarGraph.from_networkx(H, node_features=adjmat_df)
print(square_feature_dataframe.info())

StellarGraph: Undirected multigraph
 Nodes: 1470, Edges: 544785

 Node types:
  default: [1470]
    Features: float32 vector, length 1470
    Edge types: default-default->default

 Edge types:
    default-default->default: [544785]
        Weights: all 1 (default)
        Features: none

In [32]:
from stellargraph.mapper import (
    CorruptedGenerator,
    FullBatchNodeGenerator,
    GraphSAGENodeGenerator,
    HinSAGENodeGenerator,
    ClusterNodeGenerator,
)
from stellargraph import StellarGraph
from stellargraph.layer import GCN, DeepGraphInfomax, GraphSAGE, GAT, APPNP, HinSAGE

from stellargraph import datasets
from stellargraph.utils import plot_history

import pandas as pd
from matplotlib import pyplot as plt
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.manifold import TSNE
from IPython.display import display, HTML

from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
import tensorflow as tf
from tensorflow.keras import Model

In [33]:
fullbatch_generator = FullBatchNodeGenerator(square_feature_dataframe, sparse=False)
fullbatch_generator

Using GCN (local pooling) filters...

In [34]:
gcn_model = GCN(layer_sizes=[128], activations=["relu"], generator=fullbatch_generator)
gcn_model

In [35]:
x_emb_in, x_emb_out = gcn_model.in_out_tensors()

# for full batch models, squeeze out the batch dim (which is 1)
x_out = tf.squeeze(x_emb_out, axis=0)
emb_model = Model(inputs=x_emb_in, outputs=x_out)
emb_model

In [36]:
all_nodes = df['Attrition'].index
all_gen = fullbatch_generator.flow(all_nodes)

In [37]:
emb = emb_model.predict(all_gen)
emb.shape

1/1 [==============================] - 0s 159ms/step

(1470, 128)

In [38]:
node_emb = pd.DataFrame(emb)
node_emb

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,0.0,0.0,0.763077,0.358462,1.005297,0.0,0.000000,0.938402,0.507278,1.071181,...,0.0,0.845150,0.329284,0.066619,0.212528,0.793614,0.116401,0.590851,0.0,0.0
1,0.0,0.0,0.297512,0.000000,0.619794,0.0,0.192402,0.702187,0.281619,1.004427,...,0.0,0.847962,0.530014,0.035574,0.000000,0.584812,0.383475,0.535465,0.0,0.0
2,0.0,0.0,0.586431,0.281839,1.101432,0.0,0.000000,0.827838,0.131105,1.303524,...,0.0,0.921510,0.599611,0.165648,0.126258,0.815046,0.346415,0.787727,0.0,0.0
3,0.0,0.0,0.486551,0.498037,0.743563,0.0,0.072373,0.795086,0.195423,1.065369,...,0.0,0.921721,0.425004,0.182070,0.052958,0.567820,0.193456,0.728712,0.0,0.0
4,0.0,0.0,0.383154,0.000000,0.680989,0.0,0.089959,0.651093,0.217047,1.249039,...,0.0,0.863877,0.675009,0.116372,0.000000,0.811666,0.476169,0.600574,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.0,0.0,0.323562,0.024144,0.617032,0.0,0.202945,0.540825,0.230278,1.075368,...,0.0,0.815525,0.650901,0.108829,0.000000,0.664154,0.426757,0.588032,0.0,0.0
1466,0.0,0.0,0.320338,0.000000,0.621347,0.0,0.060331,0.671204,0.289687,1.087244,...,0.0,0.745756,0.550650,0.000000,0.000000,0.736832,0.430296,0.600019,0.0,0.0
1467,0.0,0.0,0.508143,0.106999,0.766975,0.0,0.000000,0.796358,0.214777,1.136065,...,0.0,0.909347,0.554332,0.071028,0.000000,0.709398,0.424383,0.727745,0.0,0.0
1468,0.0,0.0,0.601180,0.000000,0.695341,0.0,0.000000,0.676091,0.581066,0.913810,...,0.0,0.664079,0.444836,0.000000,0.193064,0.732431,0.338874,0.549453,0.0,0.0
1469,0.0,0.0,0.243603,0.000000,0.615321,0.0,0.062610,0.584856,0.174660,1.085001,...,0.0,0.751333,0.554443,0.044954,0.000000,0.713464,0.442517,0.456823,0.0,0.0

In [39]:
import string
# Create a list of uppercase letters and digits

# Generate column names
column_names = [f"B{i}" for i in range(0, 128)]

# Create an empty DataFrame with the generated column names
column_names

['B0',
 'B1',
 'B2',
 'B3',
 'B4',
 'B5',
 'B6',
 'B7',
 'B8',
 'B9',
 'B10',
 'B11',
 'B12',
 'B13',
 'B14',
 'B15',
 'B16',
 'B17',
 'B18',
 'B19',
 'B20',
 'B21',
 'B22',
 'B23',
 'B24',
 'B25',
 'B26',
 'B27',
 'B28',
 'B29',
 'B30',
 'B31',
 'B32',
 'B33',
 'B34',
 'B35',
 'B36',
 'B37',
 'B38',
 'B39',
 'B40',
 'B41',
 'B42',
 'B43',
 'B44',
 'B45',
 'B46',
 'B47',
 'B48',
 'B49',
 'B50',
 'B51',
 'B52',
 'B53',
 'B54',
 'B55',
 'B56',
 'B57',
 'B58',
 'B59',
 'B60',
 'B61',
 'B62',
 'B63',
 'B64',
 'B65',
 'B66',
 'B67',
 'B68',
 'B69',
 'B70',
 'B71',
 'B72',
 'B73',
 'B74',
 'B75',
 'B76',
 'B77',
 'B78',
 'B79',
 'B80',
 'B81',
 'B82',
 'B83',
 'B84',
 'B85',
 'B86',
 'B87',
 'B88',
 'B89',
 'B90',
 'B91',
 'B92',
 'B93',
 'B94',
 'B95',
 'B96',
 'B97',
 'B98',
 'B99',
 'B100',
 'B101',
 'B102',
 'B103',
 'B104',
 'B105',
 'B106',
 'B107',
 'B108',
 'B109',
 'B110',
 'B111',
 'B112',
 'B113',
 'B114',
 'B115',
 'B116',
 'B117',
 'B118',
 'B119',
 'B120',
 'B121',
 'B122',
 'B123',
 'B124',
 'B125',
 'B126',
 'B127']

In [40]:
node_emb.columns = column_names
node_emb

,B0,B1,B2,B3,B4,B5,B6,B7,B8,B9,...,B118,B119,B120,B121,B122,B123,B124,B125,B126,B127
0,0.0,0.0,0.763077,0.358462,1.005297,0.0,0.000000,0.938402,0.507278,1.071181,...,0.0,0.845150,0.329284,0.066619,0.212528,0.793614,0.116401,0.590851,0.0,0.0
1,0.0,0.0,0.297512,0.000000,0.619794,0.0,0.192402,0.702187,0.281619,1.004427,...,0.0,0.847962,0.530014,0.035574,0.000000,0.584812,0.383475,0.535465,0.0,0.0
2,0.0,0.0,0.586431,0.281839,1.101432,0.0,0.000000,0.827838,0.131105,1.303524,...,0.0,0.921510,0.599611,0.165648,0.126258,0.815046,0.346415,0.787727,0.0,0.0
3,0.0,0.0,0.486551,0.498037,0.743563,0.0,0.072373,0.795086,0.195423,1.065369,...,0.0,0.921721,0.425004,0.182070,0.052958,0.567820,0.193456,0.728712,0.0,0.0
4,0.0,0.0,0.383154,0.000000,0.680989,0.0,0.089959,0.651093,0.217047,1.249039,...,0.0,0.863877,0.675009,0.116372,0.000000,0.811666,0.476169,0.600574,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.0,0.0,0.323562,0.024144,0.617032,0.0,0.202945,0.540825,0.230278,1.075368,...,0.0,0.815525,0.650901,0.108829,0.000000,0.664154,0.426757,0.588032,0.0,0.0
1466,0.0,0.0,0.320338,0.000000,0.621347,0.0,0.060331,0.671204,0.289687,1.087244,...,0.0,0.745756,0.550650,0.000000,0.000000,0.736832,0.430296,0.600019,0.0,0.0
1467,0.0,0.0,0.508143,0.106999,0.766975,0.0,0.000000,0.796358,0.214777,1.136065,...,0.0,0.909347,0.554332,0.071028,0.000000,0.709398,0.424383,0.727745,0.0,0.0
1468,0.0,0.0,0.601180,0.000000,0.695341,0.0,0.000000,0.676091,0.581066,0.913810,...,0.0,0.664079,0.444836,0.000000,0.193064,0.732431,0.338874,0.549453,0.0,0.0
1469,0.0,0.0,0.243603,0.000000,0.615321,0.0,0.062610,0.584856,0.174660,1.085001,...,0.0,0.751333,0.554443,0.044954,0.000000,0.713464,0.442517,0.456823,0.0,0.0

In [41]:
node_Class = df1['Attrition']

In [42]:
node_emb['Class']=node_Class
node_emb

,B0,B1,B2,B3,B4,B5,B6,B7,B8,B9,...,B119,B120,B121,B122,B123,B124,B125,B126,B127,Class
0,0.0,0.0,0.763077,0.358462,1.005297,0.0,0.000000,0.938402,0.507278,1.071181,...,0.845150,0.329284,0.066619,0.212528,0.793614,0.116401,0.590851,0.0,0.0,1
1,0.0,0.0,0.297512,0.000000,0.619794,0.0,0.192402,0.702187,0.281619,1.004427,...,0.847962,0.530014,0.035574,0.000000,0.584812,0.383475,0.535465,0.0,0.0,0
2,0.0,0.0,0.586431,0.281839,1.101432,0.0,0.000000,0.827838,0.131105,1.303524,...,0.921510,0.599611,0.165648,0.126258,0.815046,0.346415,0.787727,0.0,0.0,1
3,0.0,0.0,0.486551,0.498037,0.743563,0.0,0.072373,0.795086,0.195423,1.065369,...,0.921721,0.425004,0.182070,0.052958,0.567820,0.193456,0.728712,0.0,0.0,0
4,0.0,0.0,0.383154,0.000000,0.680989,0.0,0.089959,0.651093,0.217047,1.249039,...,0.863877,0.675009,0.116372,0.000000,0.811666,0.476169,0.600574,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.0,0.0,0.323562,0.024144,0.617032,0.0,0.202945,0.540825,0.230278,1.075368,...,0.815525,0.650901,0.108829,0.000000,0.664154,0.426757,0.588032,0.0,0.0,0
1466,0.0,0.0,0.320338,0.000000,0.621347,0.0,0.060331,0.671204,0.289687,1.087244,...,0.745756,0.550650,0.000000,0.000000,0.736832,0.430296,0.600019,0.0,0.0,0
1467,0.0,0.0,0.508143,0.106999,0.766975,0.0,0.000000,0.796358,0.214777,1.136065,...,0.909347,0.554332,0.071028,0.000000,0.709398,0.424383,0.727745,0.0,0.0,0
1468,0.0,0.0,0.601180,0.000000,0.695341,0.0,0.000000,0.676091,0.581066,0.913810,...,0.664079,0.444836,0.000000,0.193064,0.732431,0.338874,0.549453,0.0,0.0,0
1469,0.0,0.0,0.243603,0.000000,0.615321,0.0,0.062610,0.584856,0.174660,1.085001,...,0.751333,0.554443,0.044954,0.000000,0.713464,0.442517,0.456823,0.0,0.0,0

In [43]:
emb = pd.concat([u3, node_emb], axis = 1)
emb.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,B119,B120,B121,B122,B123,B124,B125,B126,B127,Class
0,0.547619,0.715820,0.000000,0.25,0.333333,0.914286,0.666667,0.25,1.000000,0.332466,...,0.845150,0.329284,0.066619,0.212528,0.793614,0.116401,0.590851,0.0,0.0,1
1,0.738095,0.126700,0.250000,0.00,0.666667,0.442857,0.333333,0.25,0.333333,0.274898,...,0.847962,0.530014,0.035574,0.000000,0.584812,0.383475,0.535465,0.0,0.0,0
2,0.452381,0.909807,0.035714,0.25,1.000000,0.885714,0.333333,0.00,0.666667,0.072110,...,0.921510,0.599611,0.165648,0.126258,0.815046,0.346415,0.787727,0.0,0.0,1
3,0.357143,0.923407,0.071429,0.75,1.000000,0.371429,0.666667,0.00,0.666667,0.126743,...,0.921721,0.425004,0.182070,0.052958,0.567820,0.193456,0.728712,0.0,0.0,0
4,0.214286,0.350036,0.035714,0.00,0.000000,0.142857,0.666667,0.00,0.333333,0.164032,...,0.863877,0.675009,0.116372,0.000000,0.811666,0.476169,0.600574,0.0,0.0,0

In [44]:
X=emb.drop(['Class'],axis=1)
Y=emb['Class']

In [45]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import classification_report,accuracy_score
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn import metrics

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC

from sklearn.metrics import confusion_matrix, recall_score, precision_score,f1_score

In [46]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (1.6.2)
Requirement already satisfied: numpy in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from xgboost) (1.21.6)
Requirement already satisfied: scipy in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from xgboost) (1.7.3)

### CROSS VALIDATION

In [47]:
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
cv = KFold(n_splits=10, random_state=1, shuffle=True)
kf = KFold(n_splits=10)

In [48]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=10000) 
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    lr.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(lr.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8843537414965986
              precision    recall  f1-score   support

           0       0.90      0.97      0.93      1233
           1       0.74      0.43      0.55       237

    accuracy                           0.88      1470
   macro avg       0.82      0.70      0.74      1470
weighted avg       0.87      0.88      0.87      1470

Confusion matrix:  [[1198   35]
 [ 135  102]]

In [49]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
rf = RandomForestClassifier(n_estimators=300)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    rf.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(rf.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.863265306122449
              precision    recall  f1-score   support

           0       0.87      0.98      0.92      1233
           1       0.70      0.27      0.39       237

    accuracy                           0.86      1470
   macro avg       0.79      0.62      0.66      1470
weighted avg       0.85      0.86      0.84      1470

Confusion matrix:  [[1205   28]
 [ 173   64]]

In [50]:
gbc = GradientBoostingClassifier(n_estimators=300)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    gbc.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(gbc.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8666666666666667
              precision    recall  f1-score   support

           0       0.89      0.96      0.92      1233
           1       0.64      0.39      0.49       237

    accuracy                           0.87      1470
   macro avg       0.77      0.68      0.71      1470
weighted avg       0.85      0.87      0.85      1470

Confusion matrix:  [[1181   52]
 [ 144   93]]

In [51]:
abc = AdaBoostClassifier(n_estimators=300)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    abc.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(abc.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8585034013605443
              precision    recall  f1-score   support

           0       0.90      0.94      0.92      1233
           1       0.58      0.44      0.50       237

    accuracy                           0.86      1470
   macro avg       0.74      0.69      0.71      1470
weighted avg       0.85      0.86      0.85      1470

Confusion matrix:  [[1157   76]
 [ 132  105]]

In [52]:
import xgboost as xgb
xgbc = xgb.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, 
              gamma=0,  importance_type='gain',
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, 
             n_estimators=200, n_jobs=16,
              num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, subsample=1,
              tree_method='exact', use_label_encoder=False
              )
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    xgbc.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(xgbc.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8761904761904762
              precision    recall  f1-score   support

           0       0.89      0.97      0.93      1233
           1       0.71      0.39      0.50       237

    accuracy                           0.88      1470
   macro avg       0.80      0.68      0.72      1470
weighted avg       0.86      0.88      0.86      1470

Confusion matrix:  [[1196   37]
 [ 145   92]]

In [53]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (3.3.5)
Requirement already satisfied: scipy in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from lightgbm) (1.7.3)
Requirement already satisfied: wheel in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from lightgbm) (0.38.4)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from lightgbm) (1.0.2)
Requirement already satisfied: numpy in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from lightgbm) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\anusuyababy\.conda\envs\steal\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.2.0)

In [54]:
import lightgbm as lgb
lgb = lgb.LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=400, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    lgb.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(lgb.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "

Accuracy:  0.8734693877551021
              precision    recall  f1-score   support

           0       0.89      0.97      0.93      1233
           1       0.69      0.38      0.49       237

    accuracy                           0.87      1470
   macro avg       0.79      0.68      0.71      1470
weighted avg       0.86      0.87      0.86      1470

Confusion matrix:  [[1193   40]
 [ 146   91]]

In [55]:
from sklearn.svm import LinearSVC
lsvm = LinearSVC()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    lsvm.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(lsvm.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

Accuracy:  0.8836734693877552
              precision    recall  f1-score   support

           0       0.90      0.98      0.93      1233
           1       0.76      0.41      0.53       237

    accuracy                           0.88      1470
   macro avg       0.83      0.69      0.73      1470
weighted avg       0.87      0.88      0.87      1470

Confusion matrix:  [[1203   30]
 [ 141   96]]

C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [56]:
from sklearn.linear_model import PassiveAggressiveClassifier
pa=PassiveAggressiveClassifier(max_iter=1000, random_state=7, tol=1e-3)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    pa.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(pa.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.780952380952381
              precision    recall  f1-score   support

           0       0.88      0.86      0.87      1233
           1       0.34      0.39      0.37       237

    accuracy                           0.78      1470
   macro avg       0.61      0.62      0.62      1470
weighted avg       0.79      0.78      0.79      1470

Confusion matrix:  [[1055  178]
 [ 144   93]]

In [57]:
from sklearn import svm
SVM = svm.SVC()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    SVM.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(SVM.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.854421768707483
              precision    recall  f1-score   support

           0       0.85      1.00      0.92      1233
           1       0.96      0.10      0.18       237

    accuracy                           0.85      1470
   macro avg       0.91      0.55      0.55      1470
weighted avg       0.87      0.85      0.80      1470

Confusion matrix:  [[1232    1]
 [ 213   24]]

In [58]:
from sklearn import tree
DTC = tree.DecisionTreeClassifier()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    DTC.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(DTC.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.7993197278911565
              precision    recall  f1-score   support

           0       0.88      0.88      0.88      1233
           1       0.38      0.37      0.37       237

    accuracy                           0.80      1470
   macro avg       0.63      0.63      0.63      1470
weighted avg       0.80      0.80      0.80      1470

Confusion matrix:  [[1087  146]
 [ 149   88]]

In [59]:
from sklearn.neighbors import KNeighborsClassifier
knn1 = KNeighborsClassifier(n_neighbors = 1)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    knn1.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(knn1.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8040816326530612
              precision    recall  f1-score   support

           0       0.87      0.90      0.88      1233
           1       0.38      0.33      0.35       237

    accuracy                           0.80      1470
   macro avg       0.63      0.61      0.62      1470
weighted avg       0.79      0.80      0.80      1470

Confusion matrix:  [[1104  129]
 [ 159   78]]

In [60]:
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    bnb.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(bnb.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.7782312925170068
              precision    recall  f1-score   support

           0       0.93      0.80      0.86      1233
           1       0.39      0.67      0.49       237

    accuracy                           0.78      1470
   macro avg       0.66      0.73      0.68      1470
weighted avg       0.84      0.78      0.80      1470

Confusion matrix:  [[986 247]
 [ 79 158]]

In [61]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    gnb.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(gnb.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.608843537414966
              precision    recall  f1-score   support

           0       0.94      0.57      0.71      1233
           1       0.26      0.79      0.40       237

    accuracy                           0.61      1470
   macro avg       0.60      0.68      0.55      1470
weighted avg       0.83      0.61      0.66      1470

Confusion matrix:  [[707 526]
 [ 49 188]]

### Baseline models

In [62]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=7, stratify=Y)

In [63]:
from sklearn.linear_model import PassiveAggressiveClassifier
pa=PassiveAggressiveClassifier(max_iter=1000, random_state=7, tol=1e-3)
pa.fit(x_train, y_train)
y_pred=pa.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[226  21]
 [ 19  28]]
              precision    recall  f1-score   support

           0       0.92      0.91      0.92       247
           1       0.57      0.60      0.58        47

    accuracy                           0.86       294
   macro avg       0.75      0.76      0.75       294
weighted avg       0.87      0.86      0.87       294

accuracy_score:  0.8639455782312925

In [64]:
from sklearn.svm import LinearSVC
lsvm = LinearSVC()
lsvm.fit(x_train, y_train)
y_pred=lsvm.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[244   3]
 [ 28  19]]
              precision    recall  f1-score   support

           0       0.90      0.99      0.94       247
           1       0.86      0.40      0.55        47

    accuracy                           0.89       294
   macro avg       0.88      0.70      0.75       294
weighted avg       0.89      0.89      0.88       294

accuracy_score:  0.8945578231292517

C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [65]:
rf = RandomForestClassifier(n_estimators=300)
rf.fit(x_train, y_train)
y_pred=rf.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[241   6]
 [ 33  14]]
              precision    recall  f1-score   support

           0       0.88      0.98      0.93       247
           1       0.70      0.30      0.42        47

    accuracy                           0.87       294
   macro avg       0.79      0.64      0.67       294
weighted avg       0.85      0.87      0.84       294

accuracy_score:  0.8673469387755102

In [66]:
xgbc = xgb.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, 
              gamma=0,  importance_type='gain',
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, 
             n_estimators=200, n_jobs=16,
              num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, subsample=1,
              tree_method='exact', use_label_encoder=False
              )
xgbc.fit(x_train, y_train)
y_pred=xgbc.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[238   9]
 [ 29  18]]
              precision    recall  f1-score   support

           0       0.89      0.96      0.93       247
           1       0.67      0.38      0.49        47

    accuracy                           0.87       294
   macro avg       0.78      0.67      0.71       294
weighted avg       0.86      0.87      0.86       294

accuracy_score:  0.8707482993197279

In [67]:
log = LogisticRegression(max_iter=10000) 
log.fit(x_train, y_train)
y_pred=log.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[244   3]
 [ 26  21]]
              precision    recall  f1-score   support

           0       0.90      0.99      0.94       247
           1       0.88      0.45      0.59        47

    accuracy                           0.90       294
   macro avg       0.89      0.72      0.77       294
weighted avg       0.90      0.90      0.89       294

accuracy_score:  0.9013605442176871

In [68]:
gbc = GradientBoostingClassifier(n_estimators=300)
gbc.fit(x_train, y_train)
y_pred=gbc.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[239   8]
 [ 28  19]]
              precision    recall  f1-score   support

           0       0.90      0.97      0.93       247
           1       0.70      0.40      0.51        47

    accuracy                           0.88       294
   macro avg       0.80      0.69      0.72       294
weighted avg       0.86      0.88      0.86       294

accuracy_score:  0.8775510204081632

In [69]:
abc = AdaBoostClassifier(n_estimators=300)
abc.fit(x_train, y_train)
y_pred=abc.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[234  13]
 [ 29  18]]
              precision    recall  f1-score   support

           0       0.89      0.95      0.92       247
           1       0.58      0.38      0.46        47

    accuracy                           0.86       294
   macro avg       0.74      0.67      0.69       294
weighted avg       0.84      0.86      0.84       294

accuracy_score:  0.8571428571428571

In [70]:
import lightgbm as lgb
lgb = lgb.LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=400, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
lgb.fit(x_train, y_train)
y_pred=lgb.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

C:\Users\anusuyababy\.conda\envs\steal\lib\site-packages\lightgbm\sklearn.py:598: UserWarning: 'silent' argument is deprecated and will be removed in a future release of LightGBM. Pass 'verbose' parameter via keyword arguments instead.
  _log_warning("'silent' argument is deprecated and will be removed in a future release of LightGBM. "

[[241   6]
 [ 33  14]]
              precision    recall  f1-score   support

           0       0.88      0.98      0.93       247
           1       0.70      0.30      0.42        47

    accuracy                           0.87       294
   macro avg       0.79      0.64      0.67       294
weighted avg       0.85      0.87      0.84       294

accuracy_score:  0.8673469387755102

In [71]:
from sklearn.svm import SVC
SVM = SVC()
SVM.fit(x_train, y_train)
y_pred=SVM.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[247   0]
 [ 42   5]]
              precision    recall  f1-score   support

           0       0.85      1.00      0.92       247
           1       1.00      0.11      0.19        47

    accuracy                           0.86       294
   macro avg       0.93      0.55      0.56       294
weighted avg       0.88      0.86      0.81       294

accuracy_score:  0.8571428571428571

In [72]:
from sklearn.tree import DecisionTreeClassifier
clf_gini = DecisionTreeClassifier(criterion='gini', max_depth=3, random_state=0)
clf_gini.fit(x_train, y_train)
y_pred=clf_gini.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[238   9]
 [ 33  14]]
              precision    recall  f1-score   support

           0       0.88      0.96      0.92       247
           1       0.61      0.30      0.40        47

    accuracy                           0.86       294
   macro avg       0.74      0.63      0.66       294
weighted avg       0.84      0.86      0.84       294

accuracy_score:  0.8571428571428571

In [73]:
from sklearn.neighbors import KNeighborsClassifier
knn1 = KNeighborsClassifier(n_neighbors=1)
knn1.fit(x_train, y_train)
y_pred=knn1.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[223  24]
 [ 34  13]]
              precision    recall  f1-score   support

           0       0.87      0.90      0.88       247
           1       0.35      0.28      0.31        47

    accuracy                           0.80       294
   macro avg       0.61      0.59      0.60       294
weighted avg       0.79      0.80      0.79       294

accuracy_score:  0.8027210884353742

In [74]:
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
bnb.fit(x_train, y_train)
y_pred=bnb.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[202  45]
 [ 18  29]]
              precision    recall  f1-score   support

           0       0.92      0.82      0.87       247
           1       0.39      0.62      0.48        47

    accuracy                           0.79       294
   macro avg       0.66      0.72      0.67       294
weighted avg       0.83      0.79      0.80       294

accuracy_score:  0.7857142857142857

In [75]:
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred=gnb.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[126 121]
 [ 10  37]]
              precision    recall  f1-score   support

           0       0.93      0.51      0.66       247
           1       0.23      0.79      0.36        47

    accuracy                           0.55       294
   macro avg       0.58      0.65      0.51       294
weighted avg       0.82      0.55      0.61       294

accuracy_score:  0.5544217687074829

In [76]:
adaboost = AdaBoostClassifier()
adaboost.fit(x_train, y_train)
y_pred=adaboost.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[234  13]
 [ 27  20]]
              precision    recall  f1-score   support

           0       0.90      0.95      0.92       247
           1       0.61      0.43      0.50        47

    accuracy                           0.86       294
   macro avg       0.75      0.69      0.71       294
weighted avg       0.85      0.86      0.85       294

accuracy_score:  0.8639455782312925