In [1]:
# importing all necessary libraries
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
import os
import networkx as nx

from sklearn import preprocessing, model_selection
from IPython.display import display, HTML
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
#from node2vec import Node2Vec as n2v
sns.set()

%matplotlib inline

In [2]:
#importing libraries
import numpy as np
import pandas as pd
import nltk
import matplotlib.pyplot as plt
import statistics
import math
import os
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn.metrics import confusion_matrix
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

import re
pd.set_option('max_colwidth', 800)


#importing Libraies
import networkx as nx
import matplotlib.pyplot as plt
from numpy import genfromtxt
import collections
from collections import OrderedDict

import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.linear_model import LinearRegression,LogisticRegression, RidgeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report,accuracy_score

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [3]:
#loading dataset
df=pd.read_csv('/content/newdataset.csv')
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,...,80,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,...,80,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,...,80,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,...,80,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,...,80,1,6,3,3,2,2,2,2,No

In [4]:
df.shape

(1470, 35)

In [5]:
df['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [6]:
df.isnull().sum()

Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
Attrition                   0
dtype: int64

In [7]:
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,...,80,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,...,80,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,...,80,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,...,80,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,...,80,1,6,3,3,2,2,2,2,No

In [8]:
df = df.drop(['Over18', 'EmployeeCount',	'EmployeeNumber', 'StandardHours'], axis = 1)
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,1,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,4,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,2,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,3,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,4,1,6,3,3,2,2,2,2,No

In [9]:
feat_cat=[feature for feature in df.columns if df[feature].dtype =='O']
feat_cat

['BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'OverTime',
 'Attrition']

In [10]:
ordinal_label=df['Attrition'].value_counts().to_dict()
g={k:i for i,k in enumerate(ordinal_label, 0)}
g

{'No': 0, 'Yes': 1}

In [11]:
df['Attrition']=df['Attrition'].map(g)
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,1,0,8,0,1,6,4,0,5,1
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,4,1,10,3,3,10,7,1,7,0
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,2,0,7,3,3,0,0,0,0,1
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,3,0,8,3,3,8,7,3,0,0
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,4,1,6,3,3,2,2,2,2,0

In [12]:
df.loc[df['MonthlyIncome']>16000, 'MonthlyIncome'] = 16000
df.loc[df['TotalWorkingYears']>28, 'TotalWorkingYears'] = 28
df.loc[df['YearsAtCompany']>18, 'YearsAtCompany'] = 18
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,1,0,8,0,1,6,4,0,5,1
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,4,1,10,3,3,10,7,1,7,0
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,2,0,7,3,3,0,0,0,0,1
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,3,0,8,3,3,8,7,3,0,0
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,4,1,6,3,3,2,2,2,2,0

In [13]:
categorical = df.select_dtypes(include = 'object')
print(categorical.columns)

Index(['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole',
       'MaritalStatus', 'OverTime'],
      dtype='object')

In [14]:
df_cat = pd.get_dummies(categorical)
df_cat.head()

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,1,0,1
1,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
4,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0

In [15]:
df = df.drop([
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 
 'OverTime'], axis = 1)
df.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,1102,1,2,2,94,3,2,4,5993,...,1,0,8,0,1,6,4,0,5,1
1,49,279,8,1,3,61,2,2,2,5130,...,4,1,10,3,3,10,7,1,7,0
2,37,1373,2,2,4,92,2,1,3,2090,...,2,0,7,3,3,0,0,0,0,1
3,33,1392,3,4,4,56,3,1,3,2909,...,3,0,8,3,3,8,7,3,0,0
4,27,591,2,1,1,40,3,1,2,3468,...,4,1,6,3,3,2,2,2,2,0

In [16]:
df1 = pd.concat([df,df_cat], axis=1)
df1.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,41,1102,1,2,2,94,3,2,4,5993,...,0,0,0,1,0,0,0,1,0,1
1,49,279,8,1,3,61,2,2,2,5130,...,0,0,1,0,0,0,1,0,1,0
2,37,1373,2,2,4,92,2,1,3,2090,...,0,0,0,0,0,0,0,1,0,1
3,33,1392,3,4,4,56,3,1,3,2909,...,0,0,1,0,0,0,1,0,0,1
4,27,591,2,1,1,40,3,1,2,3468,...,0,0,0,0,0,0,1,0,1,0

In [17]:
df1.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition',
       'BusinessTravel_Non-Travel', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Human Resources',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Human Resources', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Female', 'Gender_Male', 'JobRole_Healthcare Representative',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'OverTime_No', 'OverTime_Yes'],
      dtype='object')

In [18]:
column_to_move = df1.pop("Attrition")
df1.insert(51, "Attrition", column_to_move)
df1.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes,Attrition
0,41,1102,1,2,2,94,3,2,4,5993,...,0,0,1,0,0,0,1,0,1,1
1,49,279,8,1,3,61,2,2,2,5130,...,0,1,0,0,0,1,0,1,0,0
2,37,1373,2,2,4,92,2,1,3,2090,...,0,0,0,0,0,0,1,0,1,1
3,33,1392,3,4,4,56,3,1,3,2909,...,0,1,0,0,0,1,0,0,1,0
4,27,591,2,1,1,40,3,1,2,3468,...,0,0,0,0,0,1,0,1,0,0

In [19]:
scale_data=[feature for feature in df1.columns if feature not in ['Attrition']]
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler=MinMaxScaler()
df1[scale_data]=scaler.fit_transform(df1[scale_data])
df1.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes,Attrition
0,0.547619,0.715820,0.000000,0.25,0.333333,0.914286,0.666667,0.25,1.000000,0.332466,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1
1,0.738095,0.126700,0.250000,0.00,0.666667,0.442857,0.333333,0.25,0.333333,0.274898,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0
2,0.452381,0.909807,0.035714,0.25,1.000000,0.885714,0.333333,0.00,0.666667,0.072110,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1
3,0.357143,0.923407,0.071429,0.75,1.000000,0.371429,0.666667,0.00,0.666667,0.126743,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0
4,0.214286,0.350036,0.035714,0.00,0.000000,0.142857,0.666667,0.00,0.333333,0.164032,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0

In [20]:
u3 = df1.drop(['Attrition'], axis = 1)
u3.head()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0.547619,0.715820,0.000000,0.25,0.333333,0.914286,0.666667,0.25,1.000000,0.332466,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.738095,0.126700,0.250000,0.00,0.666667,0.442857,0.333333,0.25,0.333333,0.274898,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.452381,0.909807,0.035714,0.25,1.000000,0.885714,0.333333,0.00,0.666667,0.072110,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.357143,0.923407,0.071429,0.75,1.000000,0.371429,0.666667,0.00,0.666667,0.126743,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.214286,0.350036,0.035714,0.00,0.000000,0.142857,0.666667,0.00,0.333333,0.164032,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [21]:
from scipy.spatial.distance import cdist
s = cdist(u3, u3, 'cosine')
s

array([[0.        , 0.68449588, 0.43970356, ..., 0.51649405, 0.5469911 ,
        0.61578385],
       [0.68449588, 0.        , 0.5835972 , ..., 0.3444341 , 0.32860922,
        0.42142739],
       [0.43970356, 0.5835972 , 0.        , ..., 0.42480602, 0.58745299,
        0.34692953],
       ...,
       [0.51649405, 0.3444341 , 0.42480602, ..., 0.        , 0.58911591,
        0.35904857],
       [0.5469911 , 0.32860922, 0.58745299, ..., 0.58911591, 0.        ,
        0.38584704],
       [0.61578385, 0.42142739, 0.34692953, ..., 0.35904857, 0.38584704,
        0.        ]])

In [22]:
X1=pd.DataFrame(s)
X1

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
0,0.000000,0.684496,0.439704,0.449013,0.671591,0.512400,0.493079,0.589503,0.616878,0.554666,...,0.541895,0.449155,0.392436,0.705805,0.439191,0.692335,0.670706,0.516494,0.546991,0.615784
1,0.684496,0.000000,0.583597,0.297856,0.399238,0.292533,0.509918,0.328942,0.224592,0.381056,...,0.510576,0.605105,0.570045,0.464621,0.588023,0.282390,0.356027,0.344434,0.328609,0.421427
2,0.439704,0.583597,0.000000,0.493201,0.406941,0.322745,0.377048,0.351532,0.502522,0.418091,...,0.488966,0.484880,0.698893,0.499095,0.443893,0.427837,0.477079,0.424806,0.587453,0.346930
3,0.449013,0.297856,0.493201,0.000000,0.556983,0.363592,0.403275,0.516635,0.462641,0.469468,...,0.459369,0.602976,0.564915,0.650470,0.520181,0.393884,0.524837,0.422375,0.449865,0.498464
4,0.671591,0.399238,0.406941,0.556983,0.000000,0.415106,0.370258,0.368416,0.577040,0.227420,...,0.496844,0.597267,0.576431,0.438732,0.568698,0.187060,0.240673,0.449531,0.394585,0.133708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.692335,0.282390,0.427837,0.393884,0.187060,0.237960,0.386522,0.323501,0.345039,0.215174,...,0.470547,0.566455,0.509726,0.385689,0.565642,0.000000,0.291784,0.470797,0.254549,0.161541
1466,0.670706,0.356027,0.477079,0.524837,0.240673,0.476549,0.402096,0.405484,0.447454,0.121145,...,0.400886,0.476468,0.465766,0.378694,0.560104,0.291784,0.000000,0.450273,0.344245,0.212173
1467,0.516494,0.344434,0.424806,0.422375,0.449531,0.487108,0.338852,0.348411,0.339222,0.403762,...,0.621220,0.527416,0.618881,0.439504,0.696416,0.470797,0.450273,0.000000,0.589116,0.359049
1468,0.546991,0.328609,0.587453,0.449865,0.394585,0.381122,0.552266,0.555685,0.438268,0.330378,...,0.532367,0.423636,0.397261,0.445953,0.477645,0.254549,0.344245,0.589116,0.000000,0.385847
1469,0.615784,0.421427,0.346930,0.498464,0.133708,0.345316,0.316413,0.302609,0.474513,0.179346,...,0.413280,0.555508,0.473593,0.347719,0.570065,0.161541,0.212173,0.359049,0.385847,0.000000

In [23]:
# taking average of the hamming distance matrix
y = np.average(X1)
y

0.4508561756013158

In [24]:
adjmat_df=X1.copy()

In [25]:
# setting threshold value as mean of hamming matrix
adjmat_df[adjmat_df < y]=0
adjmat_df[adjmat_df >= y]=1

In [26]:
# adjacency matrix
adjmat_df

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1466,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1467,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1468,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1469,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [27]:
classList=list(df1['Attrition'])

In [29]:
# Create networkx graph object
graphNw = nx.from_pandas_adjacency(adjmat_df,create_using = nx.Graph())

#print(nx.info(graphNw))

In [30]:
edge_connnected=list(graphNw.edges())

In [31]:
#######Code for Node self  loop in case, if any node is absent in the edge file 
noOfNodes = graphNw.number_of_nodes()
edge_connnected=list(graphNw.edges())
edge_list= np.array(edge_connnected)
srcNodeList=list(edge_list[:,0])
targetNodeList=list(edge_list[:,1])

In [32]:
for i in range(noOfNodes):
    if (not i in srcNodeList) and (not i in targetNodeList):
        graphNw.add_edge(i,i)
        edge_connnected.append([i,i])
        adjmat_df.iat[i,i]=1.15
        adjmat_df.iat[i,i]=1

In [33]:
edge_connnected=list(graphNw.edges())
edgesDF = pd.DataFrame(edge_connnected)
#edgesDF.to_csv('graphNwEdges.csv', encoding='utf-8',index=False, header=False)

In [35]:
diGraph = nx.DiGraph()
diGraph.add_edges_from(edge_connnected)
#diGraph = nx.from_pandas_edgelist(edge_connnected, source='u1', target='u2', create_using=nx.DiGraph())
#print(nx.info(diGraph))

In [36]:
nodeList=list(graphNw.nodes)

In [37]:
degreesList = [graphNw.degree(n) for n in graphNw.nodes()]

In [38]:
in_degreeDict = dict(diGraph.in_degree())

in_degreeDict = collections.OrderedDict(sorted(in_degreeDict.items()))
inDegreeList=list(in_degreeDict.values())

In [39]:
out_degreeDict = dict(diGraph.out_degree())
out_degreeDict=collections.OrderedDict(sorted(out_degreeDict.items()))
outDegreeList=list(out_degreeDict.values())

In [40]:
hubDict,authDict = nx.hits(graphNw)
hubList=list(hubDict.values())
authList=list(authDict.values())

In [41]:
from networkx.algorithms import community
communities = community.greedy_modularity_communities(graphNw)

In [42]:
modularity_dict = {} # Create a blank dictionary
for i,c in enumerate(communities): # Loop through the list of communities, keeping track of the number for the community
    for name in c: # Loop through each person in a community
        modularity_dict[int(name)] = i
modularityDict=collections.OrderedDict(sorted(modularity_dict.items()))
modularityList=list(modularityDict.values())

In [43]:
PageRankDict=nx.pagerank(graphNw, alpha=0.85)
PageRankList=list(PageRankDict.values())

In [44]:
triangleList=[]
for node in graphNw.nodes():
    triangleList.append(nx.triangles(graphNw, node))
#triangleList

In [45]:
closenessDict=nx.closeness_centrality(graphNw)
closenessList=list(closenessDict.values())

In [46]:
betweennessCentralityDict = nx.betweenness_centrality(graphNw)
betweennessCentralityList=list(betweennessCentralityDict.values())

In [47]:
harmonicCentralityDict=nx.harmonic_centrality(graphNw)
harmonicCentralityList=list(harmonicCentralityDict.values())

In [48]:
eigenvectorDict = nx.eigenvector_centrality(graphNw) 
eigenvectorList=list(eigenvectorDict.values())

In [49]:
graphFeatures_dict = {'InDegree':inDegreeList,'OutDegree':outDegreeList,'Degree':degreesList,'WeightedInDegree':inDegreeList,
              'ClosenessCentrality':closenessList,'HarmonicCentrality':harmonicCentralityList,
              'BetweennessCentrality' :betweennessCentralityList,'Authority':authList,'hub':hubList,'Modularity':modularityList,
              'PageRank':PageRankList,'Triangles':triangleList,'EigenvectorCentrality':eigenvectorList,'Class':classList}
graphFeaturesDf = pd.DataFrame.from_dict(graphFeatures_dict)
graphFeaturesDf

,InDegree,OutDegree,Degree,WeightedInDegree,ClosenessCentrality,HarmonicCentrality,BetweennessCentrality,Authority,hub,Modularity,PageRank,Triangles,EigenvectorCentrality,Class
0,0,1016,1016,0,0.764308,1242.5,0.000734,0.000869,0.000869,1,0.000905,235149,0.032432,1
1,1,612,613,1,0.631828,1041.0,0.000157,0.000590,0.000590,1,0.000576,105222,0.022013,0
2,1,877,878,1,0.713107,1173.5,0.000426,0.000793,0.000793,1,0.000788,201404,0.029567,1
3,1,752,753,1,0.672311,1111.0,0.000345,0.000674,0.000674,0,0.000692,138912,0.025156,0
4,2,658,660,2,0.644864,1064.5,0.000175,0.000640,0.000640,0,0.000612,123419,0.023859,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,507,1,508,507,0.604527,988.5,0.000110,0.000496,0.000496,0,0.000494,68846,0.018489,0
1466,561,0,561,561,0.618006,1015.0,0.000107,0.000561,0.000561,2,0.000533,94397,0.020939,0
1467,819,1,820,819,0.693579,1144.5,0.000325,0.000759,0.000759,0,0.000740,184559,0.028320,0
1468,699,0,699,699,0.656096,1084.0,0.000279,0.000634,0.000634,1,0.000648,119462,0.023646,0
1469,465,0,465,465,0.594015,967.0,0.000070,0.000476,0.000476,2,0.000458,63754,0.017752,0

In [50]:
graphFeaturesWOClass=graphFeaturesDf.copy()
graphFeaturesWOClass.drop(columns=['Class'],inplace=True)
scaler = MinMaxScaler()
scaledGraphFeatures = pd.DataFrame(scaler.fit_transform(graphFeaturesWOClass.values), columns=graphFeaturesWOClass.columns, index=graphFeaturesWOClass.index)
scaledGraphFeatures

,InDegree,OutDegree,Degree,WeightedInDegree,ClosenessCentrality,HarmonicCentrality,BetweennessCentrality,Authority,hub,Modularity,PageRank,Triangles,EigenvectorCentrality
0,0.000000,0.848789,0.671655,0.000000,0.541308,0.671655,0.544743,0.656352,0.656352,0.5,0.673981,0.475501,0.656361
1,0.000767,0.511278,0.316901,0.000767,0.211131,0.316901,0.105935,0.348856,0.348856,0.5,0.310699,0.189376,0.348851
2,0.000767,0.732665,0.550176,0.000767,0.413700,0.550176,0.309991,0.571807,0.571807,0.5,0.545497,0.401187,0.571802
3,0.000767,0.628237,0.440141,0.000767,0.312027,0.440141,0.248601,0.441602,0.441602,0.0,0.439133,0.263568,0.441600
4,0.001534,0.549708,0.358275,0.001534,0.243620,0.358275,0.119898,0.403348,0.403348,0.0,0.350257,0.229449,0.403341
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.388804,0.000835,0.224472,0.388804,0.143089,0.224472,0.070204,0.244830,0.244830,0.0,0.220380,0.109269,0.244826
1466,0.430215,0.000000,0.271127,0.430215,0.176683,0.271127,0.067977,0.317137,0.317137,1.0,0.263421,0.165537,0.317133
1467,0.628067,0.000835,0.499120,0.628067,0.365031,0.499120,0.233416,0.535002,0.535002,0.0,0.491976,0.364091,0.534997
1468,0.536043,0.000000,0.392606,0.536043,0.271615,0.392606,0.198944,0.397021,0.397021,0.5,0.390302,0.220735,0.397028
1469,0.356595,0.000000,0.186620,0.356595,0.116892,0.186620,0.039995,0.223069,0.223069,1.0,0.180803,0.098055,0.223064

In [51]:
scaledGraphFeatures['Class']=classList
scaledGraphFeatures.head()

,InDegree,OutDegree,Degree,WeightedInDegree,ClosenessCentrality,HarmonicCentrality,BetweennessCentrality,Authority,hub,Modularity,PageRank,Triangles,EigenvectorCentrality,Class
0,0.000000,0.848789,0.671655,0.000000,0.541308,0.671655,0.544743,0.656352,0.656352,0.5,0.673981,0.475501,0.656361,1
1,0.000767,0.511278,0.316901,0.000767,0.211131,0.316901,0.105935,0.348856,0.348856,0.5,0.310699,0.189376,0.348851,0
2,0.000767,0.732665,0.550176,0.000767,0.413700,0.550176,0.309991,0.571807,0.571807,0.5,0.545497,0.401187,0.571802,1
3,0.000767,0.628237,0.440141,0.000767,0.312027,0.440141,0.248601,0.441602,0.441602,0.0,0.439133,0.263568,0.441600,0
4,0.001534,0.549708,0.358275,0.001534,0.243620,0.358275,0.119898,0.403348,0.403348,0.0,0.350257,0.229449,0.403341,0

In [52]:
s = scaledGraphFeatures.drop(['Class'], axis = 1)
s.head()

,InDegree,OutDegree,Degree,WeightedInDegree,ClosenessCentrality,HarmonicCentrality,BetweennessCentrality,Authority,hub,Modularity,PageRank,Triangles,EigenvectorCentrality
0,0.000000,0.848789,0.671655,0.000000,0.541308,0.671655,0.544743,0.656352,0.656352,0.5,0.673981,0.475501,0.656361
1,0.000767,0.511278,0.316901,0.000767,0.211131,0.316901,0.105935,0.348856,0.348856,0.5,0.310699,0.189376,0.348851
2,0.000767,0.732665,0.550176,0.000767,0.413700,0.550176,0.309991,0.571807,0.571807,0.5,0.545497,0.401187,0.571802
3,0.000767,0.628237,0.440141,0.000767,0.312027,0.440141,0.248601,0.441602,0.441602,0.0,0.439133,0.263568,0.441600
4,0.001534,0.549708,0.358275,0.001534,0.243620,0.358275,0.119898,0.403348,0.403348,0.0,0.350257,0.229449,0.403341

In [85]:
X = s
Y = scaledGraphFeatures['Class']

In [86]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import classification_report,accuracy_score
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn import metrics

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC
from xgboost import XGBClassifier
from xgboost import XGBRegressor
from sklearn.metrics import confusion_matrix, recall_score, precision_score,f1_score
import seaborn as sns

### CROSS VALIDATION

In [87]:
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
cv = KFold(n_splits=10, random_state=1, shuffle=True)
kf = KFold(n_splits=10)

In [88]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=10000) 
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    lr.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(lr.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8428571428571429
              precision    recall  f1-score   support

           0       0.85      0.98      0.91      1233
           1       0.57      0.11      0.18       237

    accuracy                           0.84      1470
   macro avg       0.71      0.55      0.55      1470
weighted avg       0.81      0.84      0.79      1470

Confusion matrix:  [[1214   19]
 [ 212   25]]

In [89]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
rf = RandomForestClassifier(n_estimators=300)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    rf.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(rf.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8312925170068027
              precision    recall  f1-score   support

           0       0.86      0.96      0.90      1233
           1       0.44      0.18      0.26       237

    accuracy                           0.83      1470
   macro avg       0.65      0.57      0.58      1470
weighted avg       0.79      0.83      0.80      1470

Confusion matrix:  [[1179   54]
 [ 194   43]]

In [90]:
gbc = GradientBoostingClassifier(n_estimators=300)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    gbc.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(gbc.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8258503401360544
              precision    recall  f1-score   support

           0       0.86      0.94      0.90      1233
           1       0.42      0.22      0.28       237

    accuracy                           0.83      1470
   macro avg       0.64      0.58      0.59      1470
weighted avg       0.79      0.83      0.80      1470

Confusion matrix:  [[1163   70]
 [ 186   51]]

In [91]:
abc = AdaBoostClassifier(n_estimators=300)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    abc.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(abc.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8272108843537415
              precision    recall  f1-score   support

           0       0.86      0.96      0.90      1233
           1       0.41      0.16      0.23       237

    accuracy                           0.83      1470
   macro avg       0.63      0.56      0.57      1470
weighted avg       0.78      0.83      0.79      1470

Confusion matrix:  [[1178   55]
 [ 199   38]]

In [92]:
import xgboost as xgb
xgbc = xgb.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, 
              gamma=0,  importance_type='gain',
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, 
             n_estimators=200, n_jobs=16,
              num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, subsample=1,
              tree_method='exact', use_label_encoder=False
              )
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    xgbc.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(xgbc.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

/usr/local/lib/python3.9/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")

Accuracy:  0.8163265306122449
              precision    recall  f1-score   support

           0       0.86      0.93      0.90      1233
           1       0.37      0.21      0.27       237

    accuracy                           0.82      1470
   macro avg       0.62      0.57      0.58      1470
weighted avg       0.78      0.82      0.79      1470

Confusion matrix:  [[1151   82]
 [ 188   49]]

In [93]:
import lightgbm as lgb
lgb = lgb.LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=400, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    lgb.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(lgb.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8006802721088435
              precision    recall  f1-score   support

           0       0.86      0.91      0.88      1233
           1       0.32      0.22      0.26       237

    accuracy                           0.80      1470
   macro avg       0.59      0.56      0.57      1470
weighted avg       0.77      0.80      0.78      1470

Confusion matrix:  [[1126  107]
 [ 186   51]]

In [94]:
from sklearn.svm import LinearSVC
lsvm = LinearSVC()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    lsvm.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(lsvm.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8448979591836735
              precision    recall  f1-score   support

           0       0.85      0.99      0.91      1233
           1       0.62      0.10      0.17       237

    accuracy                           0.84      1470
   macro avg       0.74      0.54      0.54      1470
weighted avg       0.81      0.84      0.79      1470

Confusion matrix:  [[1219   14]
 [ 214   23]]

In [95]:
from sklearn.linear_model import PassiveAggressiveClassifier
pa=PassiveAggressiveClassifier(max_iter=1000, random_state=7, tol=1e-3)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    pa.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(pa.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.7836734693877551
              precision    recall  f1-score   support

           0       0.85      0.90      0.87      1233
           1       0.26      0.19      0.22       237

    accuracy                           0.78      1470
   macro avg       0.56      0.54      0.55      1470
weighted avg       0.76      0.78      0.77      1470

Confusion matrix:  [[1107  126]
 [ 192   45]]

In [96]:
from sklearn import svm
SVM = svm.SVC()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    SVM.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(SVM.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8401360544217688
              precision    recall  f1-score   support

           0       0.85      0.99      0.91      1233
           1       0.54      0.06      0.11       237

    accuracy                           0.84      1470
   macro avg       0.69      0.53      0.51      1470
weighted avg       0.80      0.84      0.78      1470

Confusion matrix:  [[1220   13]
 [ 222   15]]

In [97]:
from sklearn import tree
DTC = tree.DecisionTreeClassifier()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    DTC.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(DTC.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.7442176870748299
              precision    recall  f1-score   support

           0       0.86      0.83      0.85      1233
           1       0.25      0.29      0.27       237

    accuracy                           0.74      1470
   macro avg       0.55      0.56      0.56      1470
weighted avg       0.76      0.74      0.75      1470

Confusion matrix:  [[1026  207]
 [ 169   68]]

In [98]:
from sklearn.neighbors import KNeighborsClassifier
knn1 = KNeighborsClassifier(n_neighbors = 1)
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    knn1.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(knn1.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.7741496598639456
              precision    recall  f1-score   support

           0       0.87      0.86      0.87      1233
           1       0.30      0.31      0.31       237

    accuracy                           0.77      1470
   macro avg       0.59      0.59      0.59      1470
weighted avg       0.78      0.77      0.78      1470

Confusion matrix:  [[1064  169]
 [ 163   74]]

In [99]:
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    bnb.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(bnb.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.8387755102040816
              precision    recall  f1-score   support

           0       0.84      1.00      0.91      1233
           1       0.50      0.00      0.01       237

    accuracy                           0.84      1470
   macro avg       0.67      0.50      0.46      1470
weighted avg       0.78      0.84      0.77      1470

Confusion matrix:  [[1232    1]
 [ 236    1]]

In [100]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
y_pred = []
y_exp = []

for train_index, test_index in folds.split(X, Y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = Y[train_index], Y[test_index]
    gnb.fit(x_train, y_train)
    # store result from classification
    y_pred.extend(gnb.predict(x_test))
    # store expected result for this specific fold
    y_exp.extend(y_test)

print("Accuracy: ",  accuracy_score(y_exp, y_pred))
print(classification_report(y_exp, y_pred))
print("Confusion matrix: ", confusion_matrix(y_exp, y_pred))

Accuracy:  0.7496598639455783
              precision    recall  f1-score   support

           0       0.90      0.79      0.84      1233
           1       0.33      0.56      0.42       237

    accuracy                           0.75      1470
   macro avg       0.62      0.67      0.63      1470
weighted avg       0.81      0.75      0.77      1470

Confusion matrix:  [[970 263]
 [105 132]]

### Baseline models

In [101]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=7, stratify=Y)

In [102]:
from sklearn.linear_model import PassiveAggressiveClassifier
pa=PassiveAggressiveClassifier(max_iter=1000, random_state=7, tol=1e-3)
pa.fit(x_train, y_train)
y_pred=pa.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[247   0]
 [ 47   0]]
              precision    recall  f1-score   support

           0       0.84      1.00      0.91       247
           1       0.00      0.00      0.00        47

    accuracy                           0.84       294
   macro avg       0.42      0.50      0.46       294
weighted avg       0.71      0.84      0.77       294

accuracy_score:  0.8401360544217688

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [103]:
from sklearn.svm import LinearSVC
lsvm = LinearSVC()
lsvm.fit(x_train, y_train)
y_pred=lsvm.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[244   3]
 [ 41   6]]
              precision    recall  f1-score   support

           0       0.86      0.99      0.92       247
           1       0.67      0.13      0.21        47

    accuracy                           0.85       294
   macro avg       0.76      0.56      0.57       294
weighted avg       0.83      0.85      0.80       294

accuracy_score:  0.8503401360544217

In [104]:
rf = RandomForestClassifier(n_estimators=300)
rf.fit(x_train, y_train)
y_pred=rf.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[240   7]
 [ 41   6]]
              precision    recall  f1-score   support

           0       0.85      0.97      0.91       247
           1       0.46      0.13      0.20        47

    accuracy                           0.84       294
   macro avg       0.66      0.55      0.55       294
weighted avg       0.79      0.84      0.80       294

accuracy_score:  0.8367346938775511

In [105]:
xgbc = xgb.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, 
              gamma=0,  importance_type='gain',
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, 
             n_estimators=200, n_jobs=16,
              num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, subsample=1,
              tree_method='exact', use_label_encoder=False
              )
xgbc.fit(x_train, y_train)
y_pred=xgbc.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

/usr/local/lib/python3.9/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")

[[234  13]
 [ 39   8]]
              precision    recall  f1-score   support

           0       0.86      0.95      0.90       247
           1       0.38      0.17      0.24        47

    accuracy                           0.82       294
   macro avg       0.62      0.56      0.57       294
weighted avg       0.78      0.82      0.79       294

accuracy_score:  0.8231292517006803

In [106]:
log = LogisticRegression(max_iter=10000) 
log.fit(x_train, y_train)
y_pred=log.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[242   5]
 [ 41   6]]
              precision    recall  f1-score   support

           0       0.86      0.98      0.91       247
           1       0.55      0.13      0.21        47

    accuracy                           0.84       294
   macro avg       0.70      0.55      0.56       294
weighted avg       0.81      0.84      0.80       294

accuracy_score:  0.8435374149659864

In [107]:
gbc = GradientBoostingClassifier(n_estimators=300)
gbc.fit(x_train, y_train)
y_pred=gbc.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[235  12]
 [ 40   7]]
              precision    recall  f1-score   support

           0       0.85      0.95      0.90       247
           1       0.37      0.15      0.21        47

    accuracy                           0.82       294
   macro avg       0.61      0.55      0.56       294
weighted avg       0.78      0.82      0.79       294

accuracy_score:  0.8231292517006803

In [108]:
abc = AdaBoostClassifier(n_estimators=300)
abc.fit(x_train, y_train)
y_pred=abc.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[237  10]
 [ 36  11]]
              precision    recall  f1-score   support

           0       0.87      0.96      0.91       247
           1       0.52      0.23      0.32        47

    accuracy                           0.84       294
   macro avg       0.70      0.60      0.62       294
weighted avg       0.81      0.84      0.82       294

accuracy_score:  0.8435374149659864

In [109]:
import lightgbm as lgb
lgb = lgb.LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=400, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
lgb.fit(x_train, y_train)
y_pred=lgb.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[236  11]
 [ 39   8]]
              precision    recall  f1-score   support

           0       0.86      0.96      0.90       247
           1       0.42      0.17      0.24        47

    accuracy                           0.83       294
   macro avg       0.64      0.56      0.57       294
weighted avg       0.79      0.83      0.80       294

accuracy_score:  0.8299319727891157

In [110]:
from sklearn.svm import SVC
SVM = SVC()
SVM.fit(x_train, y_train)
y_pred=SVM.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[244   3]
 [ 42   5]]
              precision    recall  f1-score   support

           0       0.85      0.99      0.92       247
           1       0.62      0.11      0.18        47

    accuracy                           0.85       294
   macro avg       0.74      0.55      0.55       294
weighted avg       0.82      0.85      0.80       294

accuracy_score:  0.8469387755102041

In [111]:
from sklearn.tree import DecisionTreeClassifier
clf_gini = DecisionTreeClassifier(criterion='gini', max_depth=3, random_state=0)
clf_gini.fit(x_train, y_train)
y_pred=clf_gini.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[239   8]
 [ 37  10]]
              precision    recall  f1-score   support

           0       0.87      0.97      0.91       247
           1       0.56      0.21      0.31        47

    accuracy                           0.85       294
   macro avg       0.71      0.59      0.61       294
weighted avg       0.82      0.85      0.82       294

accuracy_score:  0.8469387755102041

In [112]:
from sklearn.neighbors import KNeighborsClassifier
knn1 = KNeighborsClassifier(n_neighbors=1)
knn1.fit(x_train, y_train)
y_pred=knn1.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[219  28]
 [ 34  13]]
              precision    recall  f1-score   support

           0       0.87      0.89      0.88       247
           1       0.32      0.28      0.30        47

    accuracy                           0.79       294
   macro avg       0.59      0.58      0.59       294
weighted avg       0.78      0.79      0.78       294

accuracy_score:  0.7891156462585034

In [113]:
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
bnb.fit(x_train, y_train)
y_pred=bnb.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[247   0]
 [ 47   0]]
              precision    recall  f1-score   support

           0       0.84      1.00      0.91       247
           1       0.00      0.00      0.00        47

    accuracy                           0.84       294
   macro avg       0.42      0.50      0.46       294
weighted avg       0.71      0.84      0.77       294

accuracy_score:  0.8401360544217688

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [114]:
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred=gnb.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[204  43]
 [ 22  25]]
              precision    recall  f1-score   support

           0       0.90      0.83      0.86       247
           1       0.37      0.53      0.43        47

    accuracy                           0.78       294
   macro avg       0.64      0.68      0.65       294
weighted avg       0.82      0.78      0.79       294

accuracy_score:  0.7789115646258503

In [115]:
adaboost = AdaBoostClassifier()
adaboost.fit(x_train, y_train)
y_pred=adaboost.predict(x_test)
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
print('accuracy_score: ', accuracy_score(y_test, y_pred))

[[240   7]
 [ 36  11]]
              precision    recall  f1-score   support

           0       0.87      0.97      0.92       247
           1       0.61      0.23      0.34        47

    accuracy                           0.85       294
   macro avg       0.74      0.60      0.63       294
weighted avg       0.83      0.85      0.83       294

accuracy_score:  0.8537414965986394